body {
    font-family: 'Lato', sans-serif;
}

.jumbotron, main, .table, .result, .col-12 {
    text-align: center;
}

.table-responsive {
    margin: auto;
    display: inline;
}

.jumbotron {
    background-image: url("../images/bg08.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    /* color: rgb(66, 66, 66); */
    min-height: 30vh;
    padding: 24px 12px;
    width: 100vw;
    border-radius: 0;
    z-index: 1;
}

.jumbotron h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3.8em;
    text-transform: lowercase;
}

.jumbotron p {
    font-weight: 300;
}

.result {
    margin: auto;
    margin-top: 25px;
}

#map{
    display: none;
}

.table {
    min-width: 400px;
}
.head-wrapper {
    margin-top: 7vh;
}

.head-wrapper p {
    font-size: 1.2em;
}

.checked, .far{
    color: orange;
}

.result.hidden{
    display:none;
}

.result.unhidden{
    display:block;
}
#loader {
    position: fixed;
    top: 30%;
    width: 25%;
    left: 37.5%;
    margin: auto;
    margin-top: 25px;
    -webkit-animation: spin 7s ease-in-out infinite;
    animation: spin 7s ease-in-out infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    33% { -webkit-transform: rotate(45deg); }
    66% {-webkit-transform: rotate(-45deg); }
    100% {-webkit-transform: rotate(0deg); }
    
}
  
@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    33% { -webkit-transform: rotate(45deg); }
    66% {-webkit-transform: rotate(-45deg); }
    100% {-webkit-transform: rotate(0deg); }
    
}

footer {
    position: fixed;
    margin: auto; 
    width: 100%; 
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: 100;
    line-height: 1.2em;
    font-size: 0.8em;
    padding: 5px;
    /* border-radius: 25px; */
    color: white;
    
}

footer a, footer a:hover, footer a:active {
    color: orange;
    text-decoration: none;
    font-weight: 400;
}

.footer {
    margin: auto;
}

.footer_cell {
    padding: 5px 5%;
    width: 30%;
}

#late {
    margin-top: 25px;
}

@media (max-width: 768px){
    .table {
        font-size: 0.7em;
    }
    footer {
        font-size: 0.5em;
    }
}

@media (max-width: 570px){
    .table td, .table th{
        padding: 0.75em 0.4em;
    }
    .fa, .fas, .far {
        font-size: 3.1pt;
    }
    #loader {
        top:40%;
        width: 40%;
        left: 30%;
    }
}

@media (max-height:750px) and (max-width:400px){
    #loader {
        top:50%;
        width: 50%;
        left: 25%;
    }
}

@media (min-height: 1000px){
    #loader{
        width: 30%;
        left: 35%;
    }
}



