body {
    font-family: 'Lato', sans-serif;
}

.jumbotron, main, .table, .result, .col-12 {
    text-align: center;
}

.jumbotron {
    background-image: url("../images/bg08.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    /* color: rgb(66, 66, 66); */
    min-height: 30vh;
    padding: 24px 12px;
    width: 100vw;
    border-radius: 0;
    z-index: 1;
}

.jumbotron h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3.8em;
    text-transform: lowercase;
}

.jumbotron p {
    font-weight: 300;
}

#loader {
    position: fixed;
    top: 30%;
    width: 25%;
    left: 37.5%;
    margin: auto;
    margin-top: 25px;
    -webkit-animation: spin 7s ease-in-out infinite;
    animation: spin 7s ease-in-out infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    33% { -webkit-transform: rotate(45deg); }
    66% {-webkit-transform: rotate(-45deg); }
    100% {-webkit-transform: rotate(0deg); }
    
}
  
@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    33% { -webkit-transform: rotate(45deg); }
    66% {-webkit-transform: rotate(-45deg); }
    100% {-webkit-transform: rotate(0deg); }
    
}

.result {
    margin: auto;
    margin-top: 25px;
}

.result.hidden{
    display:none;
}

.result.unhidden{
    display:block;
    margin-bottom: 100px;
}


.table {
    min-width: 400px;
}

.table-responsive {
    margin: auto;
    display: inline;
}

.head-wrapper {
    margin-top: 7vh;
}

.head-wrapper p {
    font-size: 1.2em;
}

.namelist a, .namelist a:hover {
    color: #000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-image: url("")
}

.checked, .far{
    color: orange;
}


footer {
    position: fixed;
    margin: auto; 
    width: 100%; 
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: 100;
    line-height: 1.2em;
    font-size: 0.8em;
    padding: 25px 10px 5px;
    /* border-radius: 25px; */
    color: white;
    height: 20px;
    -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
    transition-property: height;
    transition-duration: 2s; 
    transition-timing-function: ease;
}

footer:hover{
    height: 70px;
}

footer a, footer a:hover, footer a:active {
    color: orange;
    text-decoration: none;
    font-weight: 400;
}

.footer {
    margin: auto;
}

.footer_arrow {
    position: absolute;
    /* left:10px; */
    top: 0;
    font-size: 2em;
}

.footer_cell {
    padding: 5px 5%;
    width: 30%;
}

#late {
    margin-top: 25px;
}

#map{
    display: none;
}

.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0;
    vertical-align: middle;
}

.imagebox, .imagebox ::after {
    height:150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transition: width, height 2s; /* For Safari 3.1 to 6.0 */
    transition: width, height 2s;
    transition-property: width, height;
    transition-duration: 2s; 
    transition-timing-function: ease;
}

.imagebox:hover {
    height: 250px;
    width: 250px;
}

@media (max-width: 768px){
    .table {
        font-size: 0.7em;
    }
    footer {
        font-size: 0.5em;
    }
}

@media (max-width: 570px){
    .table td, .table th{
        padding: 0.75em 0.4em;
    }
    .fa, .fas, .far {
        font-size: 3.1pt;
    }
    .fa-angle-up, .fa-angle-down {
        font-size: 2em;
    }
    #loader {
        top:40%;
        width: 40%;
        left: 30%;
    }
}

@media (max-height:750px) and (max-width:400px){
    #loader {
        top:60%;
        width: 50%;
        left: 25%;
    }
}

@media (min-height: 1000px){
    #loader{
        width: 30%;
        left: 35%;
    }
}



